*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .list-header__link {
    position: relative;
  }
  .list-header__link::before {
    content: " ";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #000;
    bottom: -3px;
    left: 50%;
    will-change: transform, transleteX;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
  .list-header__link:hover::before {
    width: 100%;
  }
  .header__button:hover {
    background: #b43f08;
  }
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 76.875rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.header {
  padding-top: 28px;
  padding-bottom: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header__button {
  line-height: 1.5;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #f26522;
  color: #fff;
  padding: 8px 30px;
  border-radius: 99px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.header__button::after {
  content: " ";
  background: url("../img/arrow.svg") no-repeat;
  height: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
}
.header__button--burger {
  display: none;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  margin-top: 100px;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 211px;
          flex: 0 0 211px;
}
.logo__icon {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.logo__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
}

.list-header {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.burger {
  display: none;
  width: 30px;
  height: 18px;
  position: relative;
}
.burger::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #000;
  top: 0;
}
.burger::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #000;
  bottom: 0;
}
.burger span {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #000;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger.active span {
  width: 0;
}

.burger.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translateY(-2px);
      -ms-transform: rotate(-45deg) translateY(-2px);
          transform: rotate(-45deg) translateY(-2px);
}

.burger.active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translateY(2px);
      -ms-transform: rotate(45deg) translateY(2px);
          transform: rotate(45deg) translateY(2px);
}

@media (max-width: 952.98px) {
  .burger {
    display: block;
  }
  .header__nav {
    display: block;
    position: fixed;
    top: 98px;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-transition: right 0.3s ease;
    transition: right 0.3s ease;
  }
  .header__nav.active {
    right: 0;
  }
  body.lock {
    overflow: hidden;
  }
  .logo {
    position: relative;
    z-index: 50;
  }
  .list-header {
    display: block;
    font-size: 20px;
    padding-left: 20px;
  }
  .list-header li:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 499.98px) {
  .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .header__button {
    display: none;
  }
  .list-header:not(:last-child) {
    margin-bottom: 10px;
  }
  .header__button--burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__button--burger:not(:last-child) {
    margin-bottom: 10px;
  }
}