@font-face {
   font-family: "CircularStd";
   src: url("../fonts/CircularStd-Book.woff2") format("woff2");
   font-display: swap;
   font-weight: 400;
   font-style: oblique;
}

@font-face {
   font-family: "CircularStd";
   src: url("../fonts/CircularStd-Medium.woff2") format("woff2");
   font-display: swap;
   font-weight: 500;
   font-style: oblique;
}


@font-face {
   font-family: "CircularStd";
   src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
   font-display: swap;
   font-weight: 700;
   font-style: oblique;
}